@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.left{ float:left}
.right{ float:right}
label{color:#111111}
fieldset{ border:none}
a{ text-decoration:none}
body{ background:#f6f6f6; border-top:3px solid #f26060; font-size:1rem; color:#111111}

#main{width:96%; margin:0 auto}

h1{display:inline-block; margin:40px auto; background:#f26060; font-size:1.5rem; padding:10px 20px; color:#FFF; border-radius:30px; }

.sm{ padding:20px; border-radius:10px; background:#FFF; margin-bottom:20px;}

.yuan{ width:100%; height:30px; color:#FFF; font-weight:bold}
.yuan .left{ display:inline-block; background:#6fbdef;border-radius:30px; height:30px; line-height:30px; padding:0 3px; font-size:0.7rem}
.yuan .right{ display:inline-block; background:#6fbdef;border-radius:100%; height:30px; line-height:30px; height:30px; width:30px; text-align:center}

.sm li{ text-align:center; padding:10px 0; display:block; font-weight:bold}

.hx{ width:100%; text-align:center;}
.hx a{ text-decoration:none; color:#FFF; font-weight:bold}
.s{ display:inline-block; margin:0 20px; background:#f2b82c; color:#FFF; border-radius:30px; padding:5px 15px; font-weight:bold}
.x{display:inline-block; margin:0 20px; background:#f26060; color:#FFF; border-radius:30px; padding:5px 15px; font-weight:bold}

.foot{ text-align:center; font-size:0.8rem; margin-top:40px;}
.foot a{ display:inline-block; margin:0 5px; color:#f26060}

.tl li{ text-align:left}
