body,p,h1,h2,h3,h4,h5,li,span,i,ul,img,a,strong,input,button,textarea,select,dl,dd,dt,div,hr{margin:0;padding:0;}
body{font-family:"PingFang SC";font-size: 0.24rem;line-height: 1;color:#333;-webkit-user-select:none;-webkit-text-size-adjust: 100% !important; text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;}
::-webkit-scrollbar{width: 0;height: 0;}/*滚动条宽高设为0*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
[class|="ico"]{-webkit-background-size: 100% 100%;background-size: 100% 100%;display: inline-block;vertical-align: middle;}
[class|="icon-"]{font-family:"iconfont" !important;font-size:.24rem !important;font-style:normal;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
li{list-style-type:none; float:left;}
a{text-decoration:none;color: #333;}
img{border:none;vertical-align: middle;margin-top: 0;}
i,var,em{font-style:normal;}
button{font-family:"PingFang SC";outline:none;cursor: pointer;font-size: 0.24rem;border: none;}
iframe{border: none;}
input,select,textarea{outline:none;font-family:"PingFang SC";font-size: 0.24rem;border-radius: 0;}
input:disabled{opacity: 1;color:#333;}
input[type="submit"],input[type="reset"],input[type="text"],input[type="password"],input[type="number"],input[type="button"],button,input[type="date"],textarea{-webkit-appearance: none;border: none;background: none;}
textarea{resize:none;}
.clear{clear:both;}
.fixed{z-index: 2;position: fixed;left: 0;bottom: 0;width: 100%;}
.poa{z-index: 1;position: absolute;left: 0;bottom: 0;width: 100%;}
.bgsz{-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.hide{display:none !important;}
.bdn>:last-child{border-bottom: none;}
.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

input::-webkit-input-placeholder{ /*WebKit browsers*/
    color:rgba(197,197,201,1);
    font-family:"PingFang SC";
    font-weight: 400;
}

input::-moz-input-placeholder{ /*Mozilla Firefox*/
    color:rgba(197,197,201,1);
    font-weight: 400;
    font-family:"PingFang SC";
}

input::-ms-input-placeholder{ /*Internet Explorer*/ 
    color:rgba(197,197,201,1);
    font-weight: 400;
    font-family:"PingFang SC";
}

/* ------
    flex布局
    ------*/
    .flex{
        display: flex;
    }
    .flex-auto{
        flex:1;
    }
    .align-start{
        align-items: flex-start;
    }
    .align-center{
        align-items: center;
    }
    .align-end{
        align-items: flex-end;
    }
    .justify-around{
        justify-content: space-around;
    }
    .justify-between{
        justify-content: space-between;
    }
    .justify-center{
        justify-content: center;
    }
    .justify-end{
        justify-content: flex-end;
    }
    .justify-start{
        justify-content: flex-start;
    }
    .flex-column{
        flex-direction: column;
    }

    .van-picker-column__wrapper{
        display: flex !important;
        flex-direction: column !important;
    }
    .van-tabs--line .van-tabs__wrap {
        position: fixed;
        left: 0;
        z-index: 3;
        top: 1.466667rem;
        width: 100%;
    }